<div id="footer">
    <div class="links">
        <strong>友情链接：</strong>
        <a href="__URL__" title="数字油画厂家" target="_blank" >数字油画厂家</a>
    </div>
    <div class="subNav">
        <a href="__APP__/home/index/index">关于我们</a> |
        <a href="article.php-GroupId=1&AId=5.htm">联系我们</a> |
        <a href="article.php-GroupId=2&AId=8.htm">人才招聘</a> |
        <a href="sitemap.php.htm">网站地图</a> |
        <a href="article.php-GroupId=2&AId=10.htm">版权说明</a> |
        <a href="article.php-GroupId=2&AId=11.htm">广告服务</a> |
        <a href="article.php-GroupId=2&AId=12.htm">合作伙伴</a>
    </div>
    <div class="copyright">
        <div style="text-align:center; padding-top:15px;">
            版权所有 &copy;  <a href="http://www.miitbeian.gov.cn/" target='_blank'>蜀ICP备12009816号-3</a> 成都市唯薇工作室<br />
            Copyright 2015 Chengdu VivisGallery CO.,LTD.
        </div>
        <div id="bottomer">
            <a href="__SELF__" target="_blank"><img src="__PUBLIC__/home/images/s_3012911e3f.png" /></a>
            <a href="__SELF__" target="_blank"><img src="__PUBLIC__/home/images/s_9dca36061a.jpg" /></a>
            <a href="__SELF__" target="_blank"><img src="__PUBLIC__/home/images/s_5ea5b9e1c9.jpg" /></a>
            <a href="__SELF__" target="_blank"><img src="__PUBLIC__/home/images/s_3f9eb3ee2c.jpg" /></a>
            <a href="__SELF__" target="_blank"><img src="__PUBLIC__/home/images/s_9ec2a13451.jpg" /></a>
            <!-- WPA Button End -->    </div>
    </div>

</div>
</body>
</html>