<div id="header">
    <div class="mainNav">
        <div class="slogo"><a href="__APP__"><img src="__PUBLIC__/home/images/logo1.jpg" /></a></div>
        <ul>
            <li class="home"><a href="__APP__">首页<i>Home</i></a></li>
            <li><a href="__APP__/home/article/culture" >企业文化<i>Culture</i></a></li>
            <li><a href="__APP__/Home/Info/lists">新闻资讯<i>News</i></a></li>
            <li><a href="__APP__/Home/Products/lists">产品中心<i>Product</i></a></li>
            <li><a href="__APP__/Home/Instance/lists">成功案例<i>Case</i></a></li>
            <li><a href="__APP__/Home/Article/service" >客服中心<i>Service</i></a></li>
            <li><a href="__APP__/Home/Article/pay" >支付方式<i>Payment</i></a></li>
        </ul>
    </div>
</div>